@import './common';
// @import './example';

.is-hidden {
    display: none;
}


.search-form {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-height: 100vh; /* Это гарантирует, что ваша форма будет всегда внизу страницы */
  margin: 0; /* Убирает внешние отступы у body */
  background-color: #8ec1d2;
  z-index: -1;

}

.search-form {
  padding: 30px 720px;
  background-color: rgb(65, 76, 157, 0.7);
  /* Ваши текущие стили для формы */
  margin-top: 20px; /* Позволяет форме быть внизу */
}

.load-more {
  font-size: 18px;
  padding: 10px 20px;
  border-radius: 10px;
  border: 1px solid #fff;
  color: blueviolet;
  margin-bottom: 20px; /* Регулируйте отступ, как вам нужно */
}

.load-more:hover {
font-weight: 500;
cursor: pointer;
  outline: none;
  background-color: rgb(189, 214, 214);
  
}

.load-more:focus {
  font-weight: 500;
  outline: none;
  background-color: rgb(161, 183, 183);
  
}

.search-form input{
  width: 500px;
  padding: 5px 20px;
  border-radius: 20px 5px 5px 20px;
margin-right: 10px;
border: 2px solid #ccc;
outline: none;
}

.search-form button{
    padding: 5px 20px;
    border-radius: 5px 20px 20px 5px;
    border: 2px solid #ccc;
    cursor: pointer;
}
.search-form button:hover{
    padding: 2px 17px;
    border-radius: 20px 20px 20px 20px;
    background-color: rgb(226, 223, 223, 0.6);
    font-weight: 500;
    font-size: 18px;

}
.search-form button:focus{
    padding: 2px 17px;
    border-radius: 20px 20px 20px 20px;
    background-color: rgb(226, 223, 223, 0.6);
    font-weight: 500;
    font-size: 18px;
    border: 2px solid #ccc;
}

.search-form input:hover{
  border-radius: 20px 20px 20px 20px;
  background-color: rgb(211, 208, 208, 0.8);
  border: 2px solid #ccc;
}
.search-form input:focus{
  border-radius: 20px 20px 20px 20px;
  background-color: rgb(211, 208, 208, 0.8);
border: 2px solid #ccc;
}

// ////////////////////////////////////////////////////
// ////////STYLE OF GALLERY/////////////////////////
.gallery{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 100px auto 0;
}

.photo-card{
  border: 2px solid #212121;
    flex-basis: calc(100% / 5 - 20px);

  // width: 100%;
  display: block;
  // flex-direction: row;
  // flex-wrap: wrap;
  // justify-content: center;
  // margin: 1px auto 0;
}
.gallery-item{
  display: block;
  margin: 10px 5px;
  flex-basis: calc(100% / 5 - 20px);
  justify-content: center;
  border: 1px solid #808080;
  border-radius: 20px;
  text-decoration: none;
flex-wrap: wrap;
}
img{
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;
border: 1px solid #808080;
}

.info{
  // padding: 10px;
  margin: 0 auto;
  width: 96%;
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  color: #8ec1d2;
  background-color: #477ea2;
  // border-radius: 0 0 5px 5px;
}

.info-item{
  display: flex;
  flex-direction: column;
text-align: center;
padding: 0 10px;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
line-height: 1.7;
font-size: 0.7em;
}